@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    max-width: 2000px;
    font-family: "manrope", sans-serif;
}

body {
    background-color: rgb(240, 231, 221);
    color: rgb(34, 35, 58)
}


#headertext {
    font-size: 2em;
    font-weight: 700;
}

main {
    border-radius: 10px;
    color: white;
    margin: auto;
    background-color: rgb(25, 111, 116);
    width: 70%;
    padding: 1em;
    padding-bottom: 2em;
    text-align: center;
}

#about {
    width: 70%;
    padding: 2em;
}

.current {
    text-decoration: underline;
}

main p {
    padding: 2em;
}

footer {
    text-align: center;
    position: relative;
    padding-top: 2em;
    left: 0;
    bottom: 0;
    margin: auto;
}

li {
    display: inline-block;
}

a,
#submit {
    color: rgb(25, 111, 116);
    text-decoration: none;
    padding: 1em;
    font-weight: 700;
    font-size: 1.5em;
    transition: 0.5s;
}

a:hover {
    color: black;
}


nav,
#headertext {
    display: flex;
    justify-content: center;
    padding: 2em;
    color: white;

}

ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;

}

#progression {
    margin-bottom: 2em;
}

label {
    text-align: left;
    margin-top: 2em;
    font-weight: 500;
    padding-bottom: 0.4em;
}

input {
    padding: 1em;
    width: 90%;
    margin: auto;
}

#submit {
    background-color: rgb(252, 247, 183);
    font-size: 1em;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 1em;
    width: 90%;
    margin: auto;
}

.menu {
    background-color: rgb(25, 111, 116);
  
}

button a {
    color: black;
}

#submit:hover {
    background-color: white;
}

.section p {
    padding: 0;
    margin: auto;
}

h3,
h2 {
    padding-top: 2em;
}

main {
    margin-top: 3em;
    text-align: center;
}

.deletebutton {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.deletebutton:hover {
    text-decoration: underline;
}

.courses {
    color: black;
    display: block;
    padding: 1em;
    text-align: left;
    width: 90%;
    font-weight: 500;
    margin-top: 2em;
}
.courses li {
   
    display: flex;
    flex-direction: column;
    text-align: left;
}

.courses li a {
    display: flex;
  padding:0;

}



#error,
#saved {
    padding: 2em;
    color: rgb(255, 223, 118);
    font-weight: 600;

}
article p{
    margin: auto;
}
.section {
    margin-bottom: 2em;
    width: 100%;

}

.section a {
    font-size: smaller;
}


@media all and (max-width: 900px) {
    li a {
        font-size: 12px;
    }
#headertext {
    font-size: 24px;
}
    #error,
    #saved {
        margin: auto;
        padding: 2em;
        color: rgb(255, 223, 118);
        font-weight: 600;
        width: 50%;
    }

    form {
        width: 70%;
    }
    
.courses li a {
    display: flex;
  padding:0em;
  font-size: 10px;
}

    nav ul {
        width: 100%;
    }

     {
        width: 100%;
    }
}